*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
#banner {
    /* border: 10px solid #4b9b48; */
    background-color: #f5f5f5;
    width: 100%;
    max-width: 1600px;
    height: 808px;
    margin: 0 auto;
    display: flex;
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    padding: 216px 230px 166px 845px;

}
.container {
    /* border: 2px solid #000000; */
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    /* border: 2px solid #000000; */
    width: 100%;
    max-width: 525px;
    font-size: 65px;
    font-weight: bold;
}
.container p {
    /* border: 1px solid #000000; */
    margin-top: 24px;
    margin-left: 31px;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
.container button {
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-color: #F15B22;
    padding: 21px 25px 20px 26px;
    color: #ffffff;
    font-size: 20px;
    font-weight: semi-bold;
    max-width: 160px;
    height: 64px;
    margin-top: 32px;
    cursor: pointer;
}
#fail{
    /* background-color: #16D887; */
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding:131px 322px 0 206px;
}
#fail .container2 {
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 1072px;
    text-align: left;
    display: flex;
    gap: 87px;
}
#fail .container2 .hero-image {
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 569px;
    height: 723px;
}
#fail .container2 .hero-content {
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 400px;
    margin:239px 0 84px 0px
}
#fail .container2 .hero-content h2 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 24px;
}
#fail .container2 .hero-content p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #444343;
}
.container2 .hero-content ul li {
    list-style: none;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 8px;
    color: #444343;
}
#plan-positive{
    /* border: 5px solid #F15B22; */
    padding: 130px 230px;
}
#plan-positive .container3 {
    /* border: 3px solid #000000; */
    width: 100%;
    max-width: 1140px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 130px;
}
#plan-positive .container3 .plan-card-container {
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 86px;
}
#plan-positive .container3 .plan-card-container h2{
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 1141px;
    text-align: center;
    padding-bottom: 50px;
    font-size: 40px;
    font-weight: bold;
    gap: 86px;
}
#plan-positive .container3 .plan-card {
    /* border: 1px solid #000000; */
    width: 100%;
    max-width: 218px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}
#plan-positive .container3 .positive{
    border: 1px solid #000000;
    width: 100%;
    max-width: 1141px;
    margin: 0 auto;
    padding: 59px 617px 59px 64px;
    border-radius: 8px;
    background:url("../images/gradient3.png"), url("../images/watch.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-right: 64px;
    margin-top: 59px;
}
#plan-positive .container3 .positive h3 {
    font-size: 40px;
    font-weight:bold;
    color: #ffffff;
    text-align: left;
}
#plan-positive .container3 .positive button {
    border: none;
    font-size: 20px;
    font-weight: semi-bold;
    border-radius: 5px;
    max-width: 160px;
    padding: 21px 36px 20px;
    background-color: #ffffff;
    text-align: left;
    color: #F15B22;
    cursor: pointer;
}