*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.work-sans {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
}
#banner {
    /* border: 10px solid #4b9b48; */
    background-color: #f5f5f5;
    width: 100%;
    max-width: 1600px;
    height: 808px;
    margin: 0 auto;
    display: flex;
    text-align: right;
    background-image: url('../images/banner/banner1.png');
    padding: 216px 230px 166px 845px;

}
.container {
    /* border: 2px solid #000000; */
    width: 100%;
    max-width: 525px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container h1 {
    /* border: 2px solid #000000; */
    width: 100%;
    max-width: 525px;
    font-size: 65px;
    font-weight: bold;
}
.container p {
    /* border: 1px solid #000000; */
    margin-top: 24px;
    margin-left: 31px;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
}
.container button {
    /* border: 1px solid #000000; */
    border-radius: 5px;
    background-color: #F15B22;
    padding: 21px 25px 20px 26px;
    color: #ffffff;
    font-size: 20px;
    font-weight: semi-bold;
    max-width: 160px;
    height: 64px;
    margin-top: 32px;
    cursor: pointer;
}